@import "../../node_modules/antd/dist/antd.less";
@color-1 : #1890ff;
@color-2 : #666262;
@color-3 : #fff4ea;
.ellipsisText(){
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.noSelect(){
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                        supported by Chrome, Edge, Opera and Firefox */
}
.scrollBar(){
  &::-webkit-scrollbar-track {
    background: #ececec;
  }
  &::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: fade(#777777, 50%);
    border: 2px solid rgba(255, 255, 255, 0);
  }
  &::-webkit-scrollbar-thumb:hover {
    background: fade(#777777, 70%);
  }
}

.scrollBarX(@height){
  &::-webkit-scrollbar {
    height: @height;
    background: #ececec;
    border-left: 1px solid #dedede;
  }
  .scrollBar()
}
.scrollBarY(@width){
  &::-webkit-scrollbar {
    width: @width;
    background: #ececec;
    border-left: 1px solid #dedede;
  }
  .scrollBar()
}
.login-container {
  height: 100vh;
  overflow-y: hidden;
  background-color: #f8f8f8;
}
.login-container .form___3Tq4m {
  position: absolute;
  top: 45%;
  left: 50%;
  margin: -160px 0 0 -160px;
  width: 320px;
  height: 320px;
  padding: 36px;
  box-shadow: 0 0 100px rgba(0, 0, 0, 0.08);
}
.login-container .form___3Tq4m .logo___3tfTW {
  text-align: center;
  cursor: pointer;
  margin-bottom: 14px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-align: center;
  align-items: center;
}
.login-container .form___3Tq4m .logo___3tfTW img {
  width: 150px;
}
.login-container .form___3Tq4m .logo___3tfTW .logo___3tfTW span {
  vertical-align: text-bottom;
  font-size: 16px;
  text-transform: uppercase;
  display: inline-block;
  font-weight: 700;
  color: #1890ff;
  background-image: -webkit-gradient(linear, 37.219838% 34.532506%, 36.425669% 93.178216%, from(#29cdff), to(#0a60ff), color-stop(0.37, #148eff));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.login-container button {
  width: 100%;
}

//MAIN LAYOUT
body{
  padding: 0;
  margin: 0;
  .scrollBarY(8px);
  .main-layout{
    min-height: 100vh;
    .ant-layout-sider{
      box-shadow: 2px 0 6px 0 rgba(0,0,0,.16);
      .noSelect();
      .sider-logo{
        text-align: center;
        margin-bottom: 10px;
        margin-top: 15px;
        h3{
          font-size: 20px;
          color: #1790ff;
          text-transform: uppercase;
          white-space: nowrap;
          transition: all .2s;
        }
      }
      //.ant-menu{
      //  max-height: 100vh;
      //  overflow-x: hidden;
      //  overflow-y: scroll;
      //  .scrollBarY(6px)
      //}
    }
    .site-layout{
      .site-layout-background{
        padding: 0 16px;
        background: #fff;
        .logout-button{
          float: right;
          font-size: 20px;
          margin-right: 4px;
        }
      }
      .odoSury-content{
        min-height: 280px;
        margin: 20px 20px 0 20px;
      }
    }
    .ant-layout-sider-trigger{
      background-color: #1890ff;
      color: white;
      height: 32px;
      line-height: 32px;
    }
  }
}
.selected-member{
  padding: 10px 10px 10px 10px;
  text-align: left;
  height: 100px;
  border: 1px dashed #e9e9e9;
  background-color: #fafafa;
  margin-top: 10px;
  .inline_block{
    display: inline-block;
  }
  img{
    width: 80px;
    margin-right: 10px;
    height: 80px;
    object-fit: cover;
  }
  .ner{
    //padding: 10px 0;
    font-weight: 600;
  }
  .error{
    color: #ff2828;
  }
}



.bundle-level-outer{
  border: 1px solid #d9d9d9;
  width: 100%;
  min-height: 34px;
  max-height: 200px;
  padding: 0 10px 0 0;
  overflow: auto;
  white-space: nowrap;
  margin-bottom: 10px;
  text-align: left;
  .scrollBarY(5px);
  .scrollBarX(5px);
  .orts-inner{
    padding: 5px 0 5px 20px;
    position: relative;
    background-color: #ffffff;
    .action{
      position: absolute;
      top: 5px;
      left: 2px;
      color: #c64646;
      display: none;
    }
  }
  .orts-inner:hover{
    opacity: 0.5;
    .action{
      display: inline-block;
    }
  }
}
.lesson-edit{
  .ant-form-item{
    margin-bottom: 40px;
  }
  .orts-outer{
    border: 1px solid #d9d9d9;
    width: 100%;
    min-height: 34px;
    max-height: 200px;
    padding: 0 10px 0 0;
    overflow: auto;
    white-space: nowrap;
    margin-bottom: 10px;
    text-align: left;
    .scrollBarY(5px);
    .scrollBarX(5px);
    .orts-inner{
      padding: 5px 0 5px 20px;
      position: relative;
      background-color: #ffffff;
      .action{
        position: absolute;
        top: 5px;
        left: 2px;
        color: #c64646;
        display: none;
      }
    }
    .orts-inner:hover{
      opacity: 0.5;
      .action{
        display: inline-block;
      }
    }
  }
  .steps-content {
    margin-top: 20px;
    border: 1px dashed #e9e9e9;
    border-radius: 2px;
    //background-color: #fafafa;
    min-height: 200px;
    padding-top: 50px;
    text-align: left;
  }
  .steps-action {
    margin-top: 20px;
    text-align: right;
  }
  .ant-form-item-label{
    text-align: left;
    label{
      font-weight: 600;
    }
  }
  .content-content{
    .ant-upload-select-picture-card{
      width: 178px;
      height: 100px;
    }
    .ant-form-item-label{
      width:85px;
      text-align: left;
    }
  }
  .requirement-content{
    .ant-form-item-label{
      width: 166px;
      text-align: left;
    }
  }
  .settings-content{
    .ant-form-item-label{
      width: 90px;
      text-align: left;
    }
  }
  .description-content{
    .ant-form-item-label{
      width: 190px;
      text-align: left;
    }
  }
}
