.abouttitle {
	display: flex;
	justify-content: center;
	text-align: center;
	height: 400px;
	background-image: url("../images/bus.jpg");
	// margin-bottom: 3%;
	color: white;
	width: 100%;
	background-size: cover;
	background-position: center center;
	margin-bottom: 60px;
	.abouttext2 {
		width: 100%;
		height: 100%;
		background: rgba(0, 0, 0, 0.7);
		.container {
			display: flex;
			justify-content: center;
			align-items: center;
			height: 100%;
			h3 {
				font-size: 36px;
				font-weight: 100;
				line-height: 54px;
				padding: 0 30px;
			}
		}
	}
}
// .abouttitle::before {
// 	content: "";
// 	width: 100vw;
// 	height: 100vh;
// 	position: absolute;
// 	top: 0;
// 	left: 0;
// 	background-image: url("../images/bus.jpg");
// 	z-index: -1;
// }
div.abouttext2 > h3 {
	margin: auto;
	width: 78%;
	font-size: 2em;
}
.abouth1 {
	text-align: center;
	font-size: 28px;
	font-weight: 600;
	margin-bottom: 0px;
	color: #3e416d;
	text-transform: uppercase;
}

//                 TIMELINE
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
.about {
	width: 100%;
	min-height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 100px 0;
}
.timeline {
	width: 80%;
	height: auto;
	max-width: 1400px;
	margin: 0 auto;
	position: relative;
}
.timeline ul {
	list-style: none;
	margin-left: 0;
}
.timeline ul li {
	padding: 20px 30px;
	border-radius: 10px;
	margin-bottom: 20px;
	margin-left: 0;
	background: #fff;
	box-shadow: 0pt 1px 3px 0px rgba(0, 0, 0, 0.04);
}
.timeline ul li:last-child {
	margin-bottom: 0;
}
.tch2 {
	font-size: 32px;
	margin-bottom: 10px;
	color: #3e416d;
	text-transform: uppercase;
}
.tcp {
	font-size: 14px;
	line-height: 24px;
	color: #292929;
}
.tcd {
	text-align: center;
	border-radius: 30px;
	font-size: 76px;
	font-weight: 100;
	top: 30px;
	color: #d8d8d8;
	text-shadow: 2px 2px 1px #9a9a9a;
}
.abao {
	display: block;
	clear: both;
	margin-bottom: 100px;
	img {
		width: 320px;
		max-width: 100%;
		display: inline-block;
		clear: both;
		float: left;
		box-shadow: 0pt 1px 3px 0px rgba(0, 0, 0, 0.4);
		border-radius: 5px;
	}
}
.abouttitle2 {
	text-align: left;
	display: inline-block;
	clear: both;
	margin-left: 50px;
	padding-top: 30px;
	h2.bottomh2 {
		font-size: 18px;
		color: #9c9c9c;
		text-transform: uppercase;
	}
	.aboutbox p {
		font-size: 18px;
		color: #3e416d;
		display: block;
		font-weight: 400;
		margin-bottom: 5px;
	}
	.bottomtext2 {
		margin-top: 30px;
	}
}
@media (min-width: 768px) {
	.timeline::before {
		content: "";
		position: absolute;
		height: 100%;
		width: 2px;
		left: 50%;
		transform: translateX(-50%);
		background-color: #d2d2d2;
	}
	.timeline ul li {
		width: 50%;
		margin-bottom: 50px;
		position: relative;
	}
	.tcd {
		position: absolute;
		line-height: 30px;
	}
	.timeline ul li:nth-child(odd) {
		float: left;
		clear: right;
		// background-color: #d22f9e50;
		transform: translateX(-30px);
		border-radius: 10px 0px 10px 10px;
		.tcd {
			transform: translate(50%, -50%);
			right: -170px;
		}
	}
	.timeline ul li:nth-child(even) {
		float: right;
		clear: left;
		// background-color: #008fee50;
		transform: translateX(30px);
		border-radius: 0px 10px 10px 10px; //top-left, top-right, bottom-right, bottom-left
		.tcd {
			transform: translate(-50%, -50%);
			left: -170px;
		}
	}
	.timeline ul li::after {
		content: "";
		position: absolute;
		height: 20px;
		width: 20px;
		background-color: #d2d2d2;
		border-radius: 50%;
		top: 0;
	}
	.timeline ul li:nth-child(odd)::after {
		transform: translate(50%, -50%);
		right: -30px; // =translateX(n) even/odd
	}
	.timeline ul li:nth-child(even)::after {
		transform: translate(-50%, -50%);
		left: -30px; // =translateX(n) even/odd
	}
	.timeline ul li:hover:after {
		background-color: #3e416d;
	}
}
@media (max-width: 768px) {
	.abouttitle .abouttext2 .container h3 {
		font-size: 18px;
		font-weight: 300;
		line-height: 28px;
		padding: 0 30px;
	}
}
//  				TIMELINE END
