
.testModal {
    .modal-body  {
        padding: 0px;
        height: 320px;
        width: 600px; 
    }
    .modalMain {
        padding: 35px;
        font-size: 18px;
        color: #fff;
        border-radius: 20px;
    }
    button:focus {
        outline: none;
    }
    
}
.modalContent {
    max-width: 600px;
    div.modal-content{
        border-radius: 20px !important;
        border: none !important;
    }
    
}
.certifyTagTest {
    position: absolute;
    border: 1px solid var(--yellow);
    border-radius: 25px;
    background-color: #ffc107;
    width: 180px;
    padding-top: 5px;
    height: 35px;
    font-size: 16px;
    color: rgb(255, 255, 255);
    text-align: center;
    font-weight: 700;
    margin-left: 325px;
    bottom: 300px;
}
.premuimTagResult {
    position: absolute;
        border: 1px solid var(--yellow);
        border-radius: 7px;
        background-color: #ffc107;
        width: 100px;
        height: 22px;
        font-size: 10px;
        color: #151314;
        text-align: center;
        font-weight: 700;
        bottom: 100px;
        margin-left: 65px;
        padding-top: 4px;
}

.testSecondary {
    height: 35px;
    width: 150px;
    color: #151314;
    border: none;
    font-size: 14px;
    font-weight: 700;
    border-radius: 30px;
    background-color: #fff;
}
.testSecondary:hover {
    background-color: rgb(1 140 233);
    color: #FFF;
    border: 1px solid rgb(1 140 233);
}
.testSecondary:focus {
    outline: none;
}
.testPrimary {
    height: 35px;
    width: 150px;
    font-weight: 700;
    font-size: 14px;
    color: #fff;
    border: 2px solid #d12e9d;
    border-radius: 30px;
    background-color: #d12e9d;
}
.testPrimary:hover {
    background-color:rgb(1 140 233);
    color: #FFF;
    border: 1px solid rgb(1 140 233);
}
.testPrimary:focus {
    outline: none;
}
.testCard {
    width: 200px;
    height: 110px;
    border: none;
    border-radius: 10px;
    transition: 0.3s;
    box-shadow: 0px 3px 10px #17a2b8;;
}
.submitTest {
    margin-left: 15px;
    color: #fff;
    width: 150px;
    font-size: 14px;
    font-weight: 700;
    height: 35px;
    border: 2px solid rgb(98, 199, 87);
    background-color: rgb(98, 199, 87);
    border-radius: 20px;
}
.submitTest:hover {
    background-color: #28a745;
    border: 2px solid #28a745;

}
.submitTest:focus {
    outline: none;
}
.testCard:hover {
    cursor: pointer;
}
.cardContent {
    padding: 20px;
    color: #FFF;
    font-size: 13px;
    font-weight: 600;
    .certifyTagTest {
        position: absolute;
        border: 1px solid var(--yellow);
        border-radius: 10px;
        background-color: #ffc107;
        width: 100px;
        height: 22px;
        font-size: 10px;
        color: #151314;
        text-align: center;
        font-weight: 700;
        bottom: 100px;
        margin-left: 65px;
        padding-top: 4px;
    }
}
.testBlur {
    width: 100%;
    height: 100%;
    background: linear-gradient(135deg, rgba(21,19,20,1,0.2) 0%, rgba(209,46,157,0.2) 100%);
    padding: 20px;
    border-radius: 15px;
}
.testHeader1 {
    height: 40px;
    width: 100vw;
    position: absolute;
    background-color: #151314;
    top: 0;
    display: flex;
    align-items: center;
    padding-left: calc(50vh - 100px);
}
.sideBarPage {
    width: 200px;
    height: 725px;
    background-color: #fff;
    border-radius: 0px 20px 20px 0px;
    padding-top: 30px;
    margin-top: 70px;
}
.mainSection {
    margin-top: 70px;
    .timer {
        width: 150px;
        font-weight: 600;
        font-size: 15px;
    }
    
}
.testResults {
    button {
        border: 2px solid #28a745;
        background-color: #fff;
        color: #28a745;
        border-radius: 30px;
        height: 35px;
        width: 150px;
        font-size: 14px;
        font-weight: 700;
    }
    button:focus {
        outline: none;
    }
    button:hover {
        background-color: #28a745;
        color: #fff;
    }
}
.resultList {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    .resultItem {
        width: 90%;
        height: 110px;
        margin: 20px;
        box-shadow: 0px 3px 10px #17a2b8;
        border-radius: 25px;
        background:  linear-gradient(to top right,transparent 50%,#28a745 0) 
                    top right/110px 110px no-repeat,
                    #fff; 
        color: #151314;
        padding: 15px 30px;
        a{
            color: #151314;
            text-decoration: none;
        }
        a:hover {
            text-decoration: none;
        }
        .body {
            font-size: 13px;
        }
        .textRotate {
            -ms-transform: rotate(45deg);
            transform: rotate(45deg);
            font-size: 18px;
        }
    }
    .resultItem:hover {
        cursor: pointer;
    }
    
}
.headerTestLaunch {
    width: 100%;
    height: 120px;
    padding: 30px;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 36px;
    background: #282C34;
    border-radius: 15px 15px 0px 0px;
    .titleHeader {
        width: 75%;
        display: flex;
        justify-content: flex-end;
        font-size: 26px;
    }
}
.questionContainer {
    width: 100%;
    height: 475px;
    font-size: 18px;
    margin-top: 40px;
    li {
        padding: 5px 15px;
    }
    
    .listItem {
        display: flex;
        flex-direction: row;
        position: relative;
        div:hover {
            cursor: pointer;
        }
    }
    .question {
        padding: 30px 70px;
        overflow-y: auto;
        height: 410px;
        margin-top: 15px;
    }
    .answerTick {
        width: 30px;
        height: 30px;
        border: 2px solid #61DAFB;
        border-radius: 25px;
        position: absolute;
        background-color: #F2E8E9;
        margin-right: 10px;
    }
    .buttons {
        position: absolute;
        bottom: 90px;
        margin: 0px auto;
        padding: 10px 136px;
        button:focus {
            outline: none;
        }
        
        .prevButton {
            font-size: 13px;
            font-weight: 700;
            border: none;
            background-color: #F2E8E9;
            color: #151314;
            border-radius: 25px;
            padding: 10px 40px;
            height: 35px;
        }
        
        .nextButton {
            margin-left: 60px;
            font-size: 13px;
            font-weight: 700;
            border: none;
            background-color: #d12e9d;
            color: #fff;
            padding: 10px 40px;
            border-radius: 25px;
            height: 35px;
        }
    }
}
.pagination {
    margin-top: 30px;
    border-radius: 0px 0px 15px 15px;
    width: 100%;
    height: 60px;
    padding: 13px;
    font-size: 18px;
    background-color: #fff;
    
    li  {
        display: inline-block;
        font-weight: 600;
    }
    li:hover {
        cursor: pointer;
    }
    a {
        padding-top: 5px;
        border-radius: 20px;
        text-align: center;
        display: inline-block;
        height: 35px;
        width: 35px;
    }
    .paginationItem a {
        color: #151314;
    }
}
.sideBarContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    li {
        display: inline-block;
        padding-top: 5px;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    li:hover {
        cursor: pointer;
    }
    .sidebarItem {
        height: 30px;
        background-color: #fff;
        width: 190px;
        margin-left: 5px;
        border-radius: 15px;
        border: 2px solid #61DAFB;
        transition: 0.2s;
        .listItem {
            display: flex;
            flex-direction: row;
            .answerTick {
                width: 26px !important;
                height: 26px;
                
                border-radius: 15px;
                background-color: #F2E8E9;
                margin-right: 10px;
            }
            .sidebarText {
                width: 150px;
            }
        }
    }
}
.resultSingle {
    width: 100%;
    padding: 40px 50px;
    background-color: #fff;
    border-radius: 20px;
    .list {
        padding: 30px;
        font-size: 16px;
        font-weight: 500;
    }
    .bigButton {
        width: 250px;
        height: 40px;
        background-color: #62C757;
        color: #fff;
        border-radius: 50px;
        font-weight: 700;
        border: none;
        margin-left: 200px;
    }
    .resultOpen {
        padding: 10px 0px;
        button {
            width: 160px;
            height: 35px;
            border-radius: 35px;
            font-size: 14px;
            font-weight: 700;
            color: #fff;
            background-color: #62C757;
            border: none;
            margin-left: 40px;
        }
        button:hover {
            outline: none;
        }
    }
    .recomm {
        padding: 15px 30px;
    }
}
button:focus {
 outline: none;
}